* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  background-position: center;
  background: linear-gradient(0.25turn, #3f9ac2, #52a1a5, #b1cee4);
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 20px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(6, 74, 113);
  margin-top: 0%;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  border-radius: 4px;
  box-shadow: 4px 4px 4px 4px;
}

.first {
  background: linear-gradient(0.25turn, #7ec2df, #53dce3, #27b3d6);
  margin: 60px;
  padding: 90px 30px 150px 30px;
  border: 5px solid black;
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  box-shadow: 4px 4px 4px 4px black;
  border-radius: 8px;
}
.first p {
  text-decoration: underline dotted;
}
.button-answer {
  display: flex;
  color: rgb(255, 252, 252);
  background: linear-gradient(0.25turn, #041cd3, #233ec8, #2e40ba);
  padding: 40px 60px 40px 60px;
  font-weight: 700;
  font-size: large;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  margin-top: 10%;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 4px 4px 6px 6px black;
}

.bookmark-icon {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  position: fixed;
  bottom: 0%;
  z-index: 1;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.icon-bar a {
  float: left;
  text-align: center;
  width: 20%;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #04aa6d;
}

.answer {
  border: 5px solid black;
  text-align: center;
  margin: auto;
  margin-top: 10%;
  padding: 50px 30px 50px 30px;
  background-color: white;
  width: 50%;
}

.profile {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  gap: 2rem;
}

.profile-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 900;
  font-style: italic;
  padding-top: 1rem;
}

.aboutme {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

.aboutme-text {
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 4px;
  padding: 2% 5% 10% 5%;
  font-family: Arial, Helvetica, sans-serif;
}

.aboutme-header {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 1rem;
  text-decoration: underline;
}

.profile-icon {
  width: 70px;
  height: auto;
  border-radius: 38px;
  border: 2px solid black;
}

.settings {
  text-align: center;
  margin-top: 8%;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

.darkmode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.darkmode__text {
  font-family: Arial, Helvetica, sans-serif;
}

.darkmode__button {
  height: 12px;
  width: 12px;
  border: 1px solid black;
  border-radius: 18px;
  cursor: pointer;
  background-color: black;
}
