.yourquestion__section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.yourquestion__form {
  padding: 2% 5% 5% 5%;
}

.yourquestion__textinput {
  margin-top: 5%;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 4px;
  padding: 2% 20% 10% 20%;
}

.yourquestion__legend {
  font-family: var(--font-family);
  text-decoration: underline;
  font-size: larger;
  font-weight: 700;
  margin-top: 5%;
}

.yourquestion__button {
  display: flex;
  flex-wrap: wrap;
  color: rgb(255, 252, 252);
  background: var(--background);
  padding: 5% 10% 5% 10%;
  font-weight: 700;
  font-size: large;
  text-transform: uppercase;
  font-family: var(--font-family);
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 4px 4px 6px 6px black;
  margin: auto;
  margin-top: 5%;
}

.yourquestion__new {
  background: var(--background);
  padding: 50px 10px 50px 10px;
  width: 80%;
  margin: 5% 10% 5% 10%;
  border: var(--border);
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
  font-family: var(--font-family);
  position: relative;
  box-shadow: 4px 4px 4px 4px black;
  border-radius: 8px;
}

.yourQuestion_ul {
  display: flex;
  flex-direction: row;
}

.yourQuestin_tag {
  border: 2px solid black;
  border-radius: 8px;
  width: min-content;
  list-style: none;
  padding: 0 2% 0 2%;
  margin: auto;
  background-color: gray;
}
